html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/main.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  body
    header
      .row.logo
        img.logo(src="/images/logo.png")
        .search-area
          .input-block
            input(type='text', placeholder='Recherche personnalisée')
            img.chat(src='/images/chat_searchbox.png')
          .icon-block
      .row.list-nav
        .nav
          .nav-inner
            img.chat(src='/images/chat_searchbox.png')
            .element.active
              a(href="/") accueil
            .element
              a(href='/article') actualités
            .element
              a(href='/conseil') conseils
            .element
              a(href='#') chroniques
            .element
              a(href='#') races
            .element
              a(href='#') histoires
            .element
              a(href='#') vidéos
            .element
              a(href='#') contact
            .element
              a(href='#') newsletter
            .element.blue 
              a(href='#')
                img(src='/images/fb.png')

    section.advices
      .block.block-65.picture-grid
        .block-title-area
          img(src="/images/puce.png")
          .block-title nos conseils
        .article
          h3 on peut vivre avec un chat qui a le sida (fiv)
          .date-block
            .date-img
              img(src="/images/clock.png")
            .date 08 Nov 2014
          .article-inner
            .article-part
              img.article-img(src="/images/article_picture.png")
              p Les refuges, les « chenils » pour chats, cela existe et c’est une bonne chose, même si ce genre d’établissement est créé parce qu’il y a des chats abandonnés, maltraités, errants. C’est un peu comme le dentiste, c’est détestable mais heureusement que ça existe !  
              p En revanche, les chats y sont souvent en cages, elles sont parfois immenses, celles de la SPA par exemple, en tous cas celles des chats, font souvent la taille d’une pièce, mais cela reste des cages !
              br
              p Chez Meriam, qui a créé près de Rouen le refuge « Au bonheur des chats », les félins vivent librement. Dans la maison, dans le jardin, elle a aménagé tout son espace pour eux. Et cela se sait, le succès de l’établissement est colossal, Meriam a chez elle 150 chats et elle a été obligée de publier sur le site de l’association une info selon laquelle elle ne pouvait plus accueillir d’animaux. Elle les nourrit, les loge confortablement, les puce, les stérilise, se fait aider par des bénévoles parce que s’occuper de 150 chats est un boulot à plein temps et épuisant, elle réussit à collecter des dons pour les litières, mais elle n'a plus de place. 
              p La seule façon de créer des places chez Meriam est donc l’adoption. Elle connaît ses 150 potes par cœur, leur a même donné des noms, elle pourra donc sans problème aiguiller les futurs adoptants dans leurs choix en fonction de leurs envies et de leurs possibilités d’accueil. 
              p Et qu’il s’agisse quasiment en totalité de chats de gouttière n’est pas un problème, nous avons déjà largement expliqué ici que le comportement de ces chats est superbe en société, même s’ils ont été laissés pour compte et n’ont donc pas la moindre valeur marchande. L’adresse ci-dessous et le no de téléphone ne sont donc joignables aujourd’hui que pour des motifs d’adoption. Le magazine 30 millions d’amis a récemment consacré un très beau reportage à l'association, c'est légitime et du coup l'histoire est nationalement connue, mais il ne faut pas oublier cependant que le but premier de ce genre d’action est de rendre aux chats une vraie vie heureuse et sereine... 
            .article-part
              h3 Vidéo d'un refuge pour chat pas comme les autres
              p Une vidéo de plus de 7 minutes qui vous permetra de découvrir ce refuge pas comme les autres situé à Darnetal 81 Route de Rouen à Darnétal, 76160. prés de Rouen. C'est un veritable paradis pour les chats où vous pourrez vous aussi adopter un de ses pensionnaires pour cela il convient de contacter Meriam Martin au 06.83.53.11.40
              p Si vous ne pouvez en adopter un apportez lui votre soutient en faisant un geste en faveur de son association.
              img(src="/images/article_video.png")
              legend Le site internet du refuge au Bonheur des Chats
            .article-footer
              .author-area
                img.profile(src="/images/portrait.png")
                h6 Conseil rédigé par Jean-Louis Bernardelli
                a(href="#") Lire tous ses conseils
              .social-area
                a(href="#")
                  img(src="/images/fb_link.png")
                a(href="#")
                  img(src="/images/twitter_link.png")
                a(href="#")
                  img(src="/images/google_link.png")

        .block-title-area
          img(src="/images/puce.png")
          .block-title commentaires
        .comment-area
          .author-area
            img.profile(src="/images/profil_picture.png")
            h6 Marc durant
            .date-block
              .date-img
                img(src="/images/clock.png")
              .date 08 Nov 2014
          p Torquent inceptos quam placerat sit class ipsum nisl lacinia pretium, laoreet condimentum integer mattis mollis facilisis rhoncus vitae faucibus varius accumsan quisque mattis ultricies potenti tellus rutrum pretium viverra praesent lectus phasellus.

        .block-title-area
          img(src="/images/puce.png")
          .block-title Laisser un commentaire
        .form-area
          form
            input(type="text", placeholder="Votre nom")
            br
            input(type="text", placeholder="Votre email")
            br
            textarea(type="text", placeholder="Votre commentaire")
            .btn.btn-red.right Envoyer


      .block.block-30.right
        .block-title-area
          img(src="/images/puce.png")
          .block-title les dernières mises en ligne
        ul.short-post-list
          li.news-pict
            .picture 
              img(src="/images/news-picture-1.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-2.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-3.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-4.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-1.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-2.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-3.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam

    footer
      .black-area
        img.cat(src="/images/cat-big.png")
        .block-30
          img.logo(src="/images/footer-logo.png")
          p.margin Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse 
          h3 recevoir la newsletter de micetto
          .input-block
            input(type='text', placeholder='Adresse mail')
          .icon-block
            .text S'abonner
        .block-30
          .citation
            h3 citation
            p "Le véritable gentleman est celui qui appelle toujours un chat un chat. Même lorsqu'il trébuche dessus et qu'il tombe. "
            .author Marcel Achard 
            a.infos(href="#") Plus de citations
          .citation
            h3 citation
            p "Le véritable gentleman est celui qui appelle toujours un chat un chat. Même lorsqu'il trébuche dessus et qu'il tombe. "
            .author Marcel Achard 
          a.infos(href="#") Plus de citations
        .block-30.center
          h3 retrouvez nous sur facebook
          img.fb(src="/images/fb_pictures.png")
      .red-area
        .block-90
          ul
            li
              a(href="#") 2014
            li
              a(href="#") Micetto.com
            li
              a(href="#") A propos
            li
              a(href="#") Qui sommes nous
            li
              a(href="#") Nos partenaires
            li
              a(href="#") Newsletter
