@import "compass-mixins/lib/compass";
@import "compass-mixins/lib/compass/reset";
@import "compass-mixins/lib/compass/utilities/general/clearfix";
@import "compass-mixins/lib/compass/css3";
@import "compass-mixins/lib/compass/css3/images";
@import "compass-mixins/lib/compass/css3/transform";
@import "compass-mixins/lib/compass/typography/lists/inline-list";
@import "compass-mixins/lib/compass/typography/links/unstyled-link";
@import "bourbon/dist/bourbon";
@import "neat/app/assets/stylesheets/neat";


//  -------------------- General settings -----------------------------

body {
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
}
$max-width: 100%;
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    font-family: 'Roboto';
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   font-family: 'Roboto';
   font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   font-family: 'Roboto';
   font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
   font-family: 'Roboto';
   font-size: 12px;
}

a {text-decoration: none;}

// ------------------ Header --------------------

header {
  margin-top: 10px;
  & > .row {
    @include clearfix;
    &.logo {margin: 0 100px;}
    &.list-nav {width: 100%; text-align: center;}
    & img.logo {float: left; margin-left: 35px;}
    & .search-area {
      margin-top: 40px;
      margin-right: 60px;
      float: right;
      & > .input-block {
        float: left;
        position: relative;
        & input[type=text] {
          font-family: "Roboto";
          font-size: 12px;
          width: 220px;
          height: 40px;
          padding: 0px 10px;
          border: none;
          background-color: #be0f23;
          color: #fff;
        }
        & .chat {
          position: absolute;
          top: -30px;
          left: 130px;
        }
      }
      & > .icon-block {
        float: left;
        width: 50px;
        height: 40px;
        background-color: black;
        background-image: image-url("/loupe.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    & > .nav {
      background-color: black;
      width: 100%;
      color: #fff;
      font-size: 17px;
      height: 47px;
      font-weight: 300;
      margin: 40px 0 30px 0;
      vertical-align: middle;
      & > .nav-inner {
        position: relative;
        display: inline-block;
        & .element {
          text-transform: uppercase;
          display: block;
          float: left;
          padding: 15px;
          & > a {text-decoration: none; color: #fff;}
          &.active {background-color: #be0f23;}
          &.blue {background-color: #3b5691; height: 47px;}
          &.element:not(.blue):hover {background-color: #be0f23;}
        }
        & > .chat {
          position: absolute;
          top: -30px;
          left: 5px; 
        }
      }
    }
  }
}

// --------------------- Page's grid layout config --------------------------

section { width: 1075px; margin: 0 auto; @include clearfix;}


.block {
  float: left;
  &.block-70 { width: 70%; }
  &.block-30 { width: 30%; }
  &.block-100 { width: 100%; }
  &.right { float: right; }
}




// ------------------- Page's sections ----------------------

section.une {
  & > .main-picture {
    position: relative;
    & > .caret {
      position: absolute;
      &.left {top: 40%; left: -4%;}
      &.right {top: 40%; left: 89%;}
    }
    & > .img-legend {
      background-color: black;
      position: absolute;
      opacity: 0.6;
      filter:alpha(opacity=60); 
      width: 702px; 
      top: 85%; left: 0;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      & > h2 {opacity: 1; padding: 16px;}
    }
  }
}

section.slogan {
  margin-top: 35px;
  text-align: center;
  & > h1 {font-size: 35px; margin-bottom: 20px;}
  & > h3 {font-size: 18px; font-weight: 300;}
}

section.last-news {
  margin-top: 35px;
  & > .picture-grid {
    margin: 20px auto 0 auto;
    & > .row { margin-bottom: 40px; } 
  }
}



// -------------------- Elements ----------------------

.block-title-area {
  & > * {display: inline-block;}
  background-color: #be0f23;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  & > .block-title { margin-left: 10px;}
}

ul.short-post-list {
  & > li.news-pict {
    margin-top: 19px;
    @include clearfix;
    & > * {display: inline-block;}
    & > .picture {width: 20%;}
    & > .text {
      height: 52px;
      vertical-align: top;
      width: 70%;
      margin: 0 10px;
      border-bottom: 1px solid #d9d9d9;
      & > .row {
        margin-bottom: 10px;
        &.center {line-height: 50px;}
        & > * {display: inline-block;}
        & > .title {
          background-color: #be0f23; color: #fff;
          font-size: 12px;
          font-weight: 300;
          padding: 5px 10px;
        }
      }
    }
  }
  & > li.news-simple {
    margin-top: 15px;
    & > * {display: inline-block;}
    & > .picture-text-area {
      vertical-align: top;
      border-bottom: 1px solid #d9d9d9;
      padding-left: 5px;
      margin-left: 5px;
      & > h6 {font-weight: 400; padding: 10px 0;}
      & > p {color: darken(#b1b1b1, 20%); padding: 0 0 8px 0;}
    }
  }
}

.date-block {
  line-height: 20px;
  & > * {display: inline-block;}
  & > .date-img {vertical-align: middle;}
  & > .date {color: #be0f23; font-size: 13px; margin-left: 5px; vertical-align: middle;}
  &.right { float: right; }
}

.post {
  display: inline-block; width: 30%;
  &.add-margin-left {margin-left: 50px;}
  & > .img-area {
    position: relative;
    width: 319px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    & > .date-block {
      padding: 5px 10px;
      line-height: 20px;
      & > * {display: inline-block;}
      & > .date-img {vertical-align: middle;}
      & > .date {color: #be0f23; font-size: 13px; margin-left: 5px; vertical-align: middle;}
    }
    & > .legend {font-size: 14px; padding: 8px;}
    & > .title-label {
      background-color: #be0f23;
      position: absolute;
      top: 15px; 
      left: 0;
      padding: 10px; 
      & > * {display: inline-block;}
      & > img {margin: 0 5px;}
      & > h2 {color: #fff; text-transform: uppercase; font-size: 16px; font-weight: 300;}
    }
  }
  & > .text-area {
    &.border{border-bottom: 1px solid #d9d9d9;}
    & > h3 {text-transform: uppercase; margin-bottom: 20px; padding: 0 10px;}
    & > p {margin-bottom: 15px; padding: 0 10px; line-height: 1.4em; color: darken(#b1b1b1, 20%);}
    & > a {text-decoration: none; float: right; color: #454646;}
  }
}

.more {
    cursor: pointer;
    text-align: center;
    & > * {display: inline-block;}
    & > img {margin-right: 10px; vertical-align: bottom;}
    & > h2 {color: #be0f23; text-transform: uppercase; font-size: 14px;}
    &.add-margin-top {margin-top: 15px;}
  }


footer {
  color: white;
  background-color: black;
  margin-top: 100px;
  & p {line-height: 15px; &.margin {margin-bottom: 30px;}}
  & h3 {font-size: 14px; text-transform: uppercase; margin-bottom: 10px;}
  & .author {margin-top: 5px;}
  & .infos {float: right; color: #fff; margin-top: 5px;}
  & > .black {
    padding: 50px 0;
    position: relative;
    & > img.cat {position: absolute; top: -24%; left: 0;}
    & > .block-30 {
      width: 30%;
      float: left;
      margin: 0 15px;
      & > .fb {margin-top: 30px;}
      & > .citation + .citation {margin-top: 50px;}
      & > .logo {margin-bottom: 50px;}
      & > .input-block {
        float: left;
        position: relative;
        & input[type=text] {
          font-family: "Roboto";
          font-size: 12px;
          width: 220px;
          height: 40px;
          padding: 0px 10px;
          border: none;
          background-color: #fff;
          color: #fff;
        }
      }
      & > .icon-block {
        background-color: #be0f23;
        max-height: 40px;
        padding: 15px 0;
        text-align: center;
        & > .text {
          display: inline-block;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
  }
  & > .red {
    background-color: #be0f23;
    padding: 15px 0;
    text-align: left;
    & > section {
      & > ul {
        width: 100%;
        text-align: center;
        @include inline-list;
        & > li {
          & > a {text-decoration: none; color: #fff;}
        }
        & > li + li:before {content: '-'; margin: 0 5px;}
      }
    }
  }
}














