/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font-family: Roboto;
  font-size: 12px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

a {
  text-decoration: none; }

header {
  margin-top: 10px; }
  header > .row:after {
    content: "";
    display: table;
    clear: both; }
  header > .row.logo {
    margin: 0 100px; }
  header > .row.list-nav {
    width: 100%;
    text-align: center; }
  header > .row img.logo {
    float: left;
    margin-left: 35px; }
  header > .row .search-area {
    margin-top: 40px;
    margin-right: 60px;
    float: right; }
    header > .row .search-area > .input-block {
      float: left;
      position: relative; }
      header > .row .search-area > .input-block input[type=text] {
        font-family: "Roboto";
        font-size: 12px;
        width: 220px;
        height: 40px;
        padding: 0px 10px;
        border: none;
        background-color: #be0f23;
        color: #fff; }
      header > .row .search-area > .input-block .chat {
        position: absolute;
        top: -30px;
        left: 130px; }
    header > .row .search-area > .icon-block {
      float: left;
      width: 50px;
      height: 40px;
      background-color: black;
      background-image: url("images//loupe.png");
      background-repeat: no-repeat;
      background-position: center; }
  header > .row > .nav {
    background-color: black;
    width: 100%;
    color: #fff;
    font-size: 17px;
    height: 47px;
    font-weight: 300;
    margin: 40px 0 30px 0;
    vertical-align: middle; }
    header > .row > .nav > .nav-inner {
      position: relative;
      display: inline-block; }
      header > .row > .nav > .nav-inner .element {
        text-transform: uppercase;
        display: block;
        float: left;
        padding: 15px; }
        header > .row > .nav > .nav-inner .element > a {
          text-decoration: none;
          color: #fff; }
        header > .row > .nav > .nav-inner .element.active {
          background-color: #be0f23; }
        header > .row > .nav > .nav-inner .element.blue {
          background-color: #3b5691;
          height: 47px; }
        header > .row > .nav > .nav-inner .element.element:not(.blue):hover {
          background-color: #be0f23; }
      header > .row > .nav > .nav-inner > .chat {
        position: absolute;
        top: -30px;
        left: 5px; }

section {
  width: 1075px;
  margin: 0 auto; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section.une > .block, section.videos > .block {
    float: left; }
    section.une > .block.block-65, section.videos > .block.block-65 {
      width: 70%; }
    section.une > .block.block-55, section.videos > .block.block-55 {
      width: 65%; }
    section.une > .block.block-30, section.videos > .block.block-30 {
      width: 30%; }
    section.une > .block.right, section.videos > .block.right {
      float: right; }
  section.une .main-picture, section.videos .main-picture {
    position: relative; }
    section.une .main-picture > .caret, section.videos .main-picture > .caret {
      position: absolute; }
      section.une .main-picture > .caret.left, section.videos .main-picture > .caret.left {
        top: 40%;
        left: -4%; }
      section.une .main-picture > .caret.right, section.videos .main-picture > .caret.right {
        top: 40%;
        left: 89%; }
    section.une .main-picture > .img-legend, section.videos .main-picture > .img-legend {
      background-color: black;
      position: absolute;
      opacity: 0.6;
      filter: alpha(opacity=60);
      width: 702px;
      top: 85%;
      left: 0;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase; }
      section.une .main-picture > .img-legend > h2, section.videos .main-picture > .img-legend > h2 {
        opacity: 1;
        padding: 16px; }
  section.une .block-title-area, section.videos .block-title-area {
    background-color: #be0f23;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px; }
    section.une .block-title-area > *, section.videos .block-title-area > * {
      display: inline-block; }
    section.une .block-title-area > .block-title, section.videos .block-title-area > .block-title {
      margin-left: 10px; }
  section.une .news, section.videos .news {
    margin-top: 19px; }
    section.une .news:after, section.videos .news:after {
      content: "";
      display: table;
      clear: both; }
    section.une .news > *, section.videos .news > * {
      display: inline-block; }
    section.une .news > .picture, section.videos .news > .picture {
      width: 20%; }
    section.une .news > .text, section.videos .news > .text {
      height: 52px;
      vertical-align: top;
      width: 70%;
      margin: 0 10px;
      border-bottom: 1px solid #d9d9d9; }
      section.une .news > .text > .row, section.videos .news > .text > .row {
        margin-bottom: 10px; }
        section.une .news > .text > .row.center, section.videos .news > .text > .row.center {
          line-height: 50px; }
        section.une .news > .text > .row > *, section.videos .news > .text > .row > * {
          display: inline-block; }
        section.une .news > .text > .row > .title, section.videos .news > .text > .row > .title {
          background-color: #be0f23;
          color: #fff;
          font-size: 12px;
          font-weight: 300;
          padding: 5px 10px; }
        section.une .news > .text > .row > .date-block, section.videos .news > .text > .row > .date-block {
          line-height: 20px;
          float: right; }
          section.une .news > .text > .row > .date-block > *, section.videos .news > .text > .row > .date-block > * {
            display: inline-block; }
          section.une .news > .text > .row > .date-block > .date-img, section.videos .news > .text > .row > .date-block > .date-img {
            vertical-align: middle; }
          section.une .news > .text > .row > .date-block > .date, section.videos .news > .text > .row > .date-block > .date {
            color: #be0f23;
            font-size: 13px;
            margin-left: 5px;
            vertical-align: middle; }
  section.slogan {
    margin-top: 35px;
    text-align: center; }
    section.slogan > h1 {
      font-size: 35px;
      margin-bottom: 20px; }
    section.slogan > h3 {
      font-size: 18px;
      font-weight: 300; }
  section.last-news {
    margin-top: 35px; }
    section.last-news > .block-title {
      background-color: #be0f23;
      padding: 15px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px; }
      section.last-news > .block-title > img {
        padding: 0 10px 0 5px; }
    section.last-news > .last-news-inner {
      width: 100%;
      margin: 20px auto; }
      section.last-news > .last-news-inner > .row {
        margin-bottom: 40px; }
        section.last-news > .last-news-inner > .row > .post {
          display: inline-block;
          width: 30%; }
          section.last-news > .last-news-inner > .row > .post.add-margin-left {
            margin-left: 50px; }
          section.last-news > .last-news-inner > .row > .post > .img-area {
            position: relative;
            margin-bottom: 20px;
            background-color: #f2f2f2; }
            section.last-news > .last-news-inner > .row > .post > .img-area > .date-block {
              padding: 5px 10px;
              line-height: 20px; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .date-block > * {
                display: inline-block; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .date-block > .date-img {
                vertical-align: middle; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .date-block > .date {
                color: #be0f23;
                font-size: 13px;
                margin-left: 5px;
                vertical-align: middle; }
            section.last-news > .last-news-inner > .row > .post > .img-area > .legend {
              font-size: 14px;
              padding: 8px; }
            section.last-news > .last-news-inner > .row > .post > .img-area > .title-label {
              background-color: #be0f23;
              position: absolute;
              top: 15px;
              left: 0;
              padding: 10px; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .title-label > * {
                display: inline-block; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .title-label > img {
                margin: 0 5px; }
              section.last-news > .last-news-inner > .row > .post > .img-area > .title-label > h2 {
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300; }
          section.last-news > .last-news-inner > .row > .post > .text-area.border {
            border-bottom: 1px solid #d9d9d9; }
          section.last-news > .last-news-inner > .row > .post > .text-area > h3 {
            text-transform: uppercase;
            margin-bottom: 20px;
            padding: 0 10px; }
          section.last-news > .last-news-inner > .row > .post > .text-area > p {
            margin-bottom: 15px;
            padding: 0 10px;
            line-height: 1.4em;
            color: #7e7e7e; }
          section.last-news > .last-news-inner > .row > .post > .text-area > a {
            text-decoration: none;
            float: right;
            color: #454646; }
          section.last-news > .last-news-inner > .row > .post > .article-list {
            margin-top: 15px; }
            section.last-news > .last-news-inner > .row > .post > .article-list > * {
              display: inline-block; }
            section.last-news > .last-news-inner > .row > .post > .article-list > .picture-text-area {
              vertical-align: top;
              border-bottom: 1px solid #d9d9d9;
              padding-left: 5px;
              margin-left: 5px; }
              section.last-news > .last-news-inner > .row > .post > .article-list > .picture-text-area > h6 {
                font-weight: 400;
                padding: 10px 0; }
              section.last-news > .last-news-inner > .row > .post > .article-list > .picture-text-area > p {
                color: #7e7e7e;
                padding: 0 0 8px 0; }
          section.last-news > .last-news-inner > .row > .post > .more {
            cursor: pointer;
            text-align: center;
            margin-top: 15px; }
            section.last-news > .last-news-inner > .row > .post > .more > * {
              display: inline-block; }
            section.last-news > .last-news-inner > .row > .post > .more > img {
              margin-right: 10px;
              vertical-align: bottom; }
            section.last-news > .last-news-inner > .row > .post > .more > h2 {
              color: #be0f23;
              text-transform: uppercase;
              font-size: 14px; }
  section.actus {
    cursor: pointer;
    text-align: center; }
    section.actus > * {
      display: inline-block; }
    section.actus > img {
      margin-right: 10px;
      vertical-align: bottom; }
    section.actus > h2 {
      color: #be0f23;
      text-transform: uppercase;
      font-size: 14px; }

.last-news-inner {
  width: 100%;
  margin: 20px auto; }
  .last-news-inner > .row {
    margin-bottom: 40px; }
    .last-news-inner > .row.small-margin-bottom {
      margin-bottom: 5px; }
    .last-news-inner > .row > .post {
      display: inline-block; }
      .last-news-inner > .row > .post.add-margin-left {
        margin-left: 50px; }
      .last-news-inner > .row > .post.add-margin-left-small {
        margin-left: 10px; }
      .last-news-inner > .row > .post > .img-area {
        position: relative;
        margin-bottom: 20px;
        background-color: #f2f2f2; }
        .last-news-inner > .row > .post > .img-area > .comment-block {
          padding: 5px 10px;
          line-height: 20px; }
          .last-news-inner > .row > .post > .img-area > .comment-block > * {
            display: inline-block; }
          .last-news-inner > .row > .post > .img-area > .comment-block > .date-img {
            vertical-align: middle; }
          .last-news-inner > .row > .post > .img-area > .comment-block > .date {
            color: #be0f23;
            font-size: 13px;
            margin-left: 5px;
            vertical-align: middle; }
          .last-news-inner > .row > .post > .img-area > .comment-block > .comment {
            color: #be0f23;
            font-size: 13px;
            margin-left: 5px;
            vertical-align: middle; }
        .last-news-inner > .row > .post > .img-area > .legend {
          font-size: 14px;
          padding: 8px; }
        .last-news-inner > .row > .post > .img-area > .title-label {
          background-color: #be0f23;
          position: absolute;
          top: 15px;
          left: 0;
          padding: 10px; }
          .last-news-inner > .row > .post > .img-area > .title-label > * {
            display: inline-block; }
          .last-news-inner > .row > .post > .img-area > .title-label > img {
            margin: 0 5px; }
          .last-news-inner > .row > .post > .img-area > .title-label > h2 {
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300; }
      .last-news-inner > .row > .post > .text-area.border {
        border-bottom: 1px solid #d9d9d9; }
      .last-news-inner > .row > .post > .text-area > h3 {
        text-transform: uppercase;
        margin-bottom: 20px;
        padding: 0 10px; }
      .last-news-inner > .row > .post > .text-area > p {
        margin-bottom: 15px;
        padding: 0 10px;
        line-height: 1.4em;
        color: #7e7e7e; }
      .last-news-inner > .row > .post > .text-area > a {
        text-decoration: none;
        float: right;
        color: #454646; }
      .last-news-inner > .row > .post > .article-list {
        margin-top: 15px; }
        .last-news-inner > .row > .post > .article-list > * {
          display: inline-block; }
        .last-news-inner > .row > .post > .article-list > .picture-text-area {
          vertical-align: top;
          border-bottom: 1px solid #d9d9d9;
          padding-left: 5px;
          margin-left: 5px; }
          .last-news-inner > .row > .post > .article-list > .picture-text-area > h6 {
            font-weight: 400;
            padding: 10px 0; }
          .last-news-inner > .row > .post > .article-list > .picture-text-area > p {
            color: #7e7e7e;
            padding: 0 0 8px 0; }
      .last-news-inner > .row > .post > .more {
        cursor: pointer;
        text-align: center;
        margin-top: 15px; }
        .last-news-inner > .row > .post > .more > * {
          display: inline-block; }
        .last-news-inner > .row > .post > .more > img {
          margin-right: 10px;
          vertical-align: bottom; }
        .last-news-inner > .row > .post > .more > h2 {
          color: #be0f23;
          text-transform: uppercase;
          font-size: 14px; }

.more {
  cursor: pointer;
  text-align: center;
  margin-top: 15px; }
  .more > * {
    display: inline-block; }
  .more > img {
    margin-right: 5px;
    vertical-align: bottom; }
  .more > h2 {
    color: #be0f23;
    text-transform: uppercase;
    font-size: 14px; }

footer {
  color: white;
  background-color: black;
  margin-top: 100px; }
  footer p {
    line-height: 15px; }
    footer p.margin {
      margin-bottom: 30px; }
  footer h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  footer .author {
    margin-top: 5px; }
  footer .infos {
    float: right;
    color: #fff;
    margin-top: 5px; }
  footer > .black {
    padding: 50px 0;
    position: relative; }
    footer > .black > img.cat {
      position: absolute;
      top: -24%;
      left: 0; }
    footer > .black > .block-30 {
      width: 30%;
      float: left;
      margin: 0 15px; }
      footer > .black > .block-30 > .fb {
        margin-top: 30px; }
      footer > .black > .block-30 > .citation + .citation {
        margin-top: 50px; }
      footer > .black > .block-30 > .logo {
        margin-bottom: 50px; }
      footer > .black > .block-30 > .input-block {
        float: left;
        position: relative; }
        footer > .black > .block-30 > .input-block input[type=text] {
          font-family: "Roboto";
          font-size: 12px;
          width: 220px;
          height: 40px;
          padding: 0px 10px;
          border: none;
          background-color: #fff;
          color: #fff; }
      footer > .black > .block-30 > .icon-block {
        background-color: #be0f23;
        max-height: 40px;
        padding: 15px 0;
        text-align: center; }
        footer > .black > .block-30 > .icon-block > .text {
          display: inline-block;
          text-transform: uppercase;
          font-weight: 300; }
  footer > .red {
    background-color: #be0f23;
    padding: 15px 0;
    text-align: left; }
    footer > .red > section > ul {
      width: 100%;
      text-align: center;
      list-style-type: none; }
      footer > .red > section > ul, footer > .red > section > ul li {
        margin: 0px;
        padding: 0px;
        display: inline; }
      footer > .red > section > ul > li > a {
        text-decoration: none;
        color: #fff; }
      footer > .red > section > ul > li + li:before {
        content: '-';
        margin: 0 5px; }
