/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  width: 100%;
  font-family: Roboto;
  font-size: 12px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px; }

header {
  margin-top: 10px; }
  header > .row {
    overflow: hidden;
    *zoom: 1; }
    header > .row.logo {
      margin: 0 100px; }
    header > .row.list-nav {
      width: 100%;
      text-align: center; }
    header > .row img.logo {
      float: left;
      margin-left: 35px; }
    header > .row .search-area {
      margin-top: 40px;
      margin-right: 60px;
      float: right; }
      header > .row .search-area > .input-block {
        float: left;
        position: relative; }
        header > .row .search-area > .input-block input[type=text] {
          font-family: "Roboto";
          font-size: 12px;
          width: 220px;
          height: 40px;
          padding: 0px 10px;
          border: none;
          background-color: #be0f23;
          color: #fff; }
        header > .row .search-area > .input-block .chat {
          position: absolute;
          top: -30px;
          left: 130px; }
      header > .row .search-area > .icon-block {
        float: left;
        width: 50px;
        height: 40px;
        background-color: black;
        background-image: url("images//loupe.png");
        background-repeat: no-repeat;
        background-position: center; }
    header > .row > .nav {
      background-color: black;
      width: 100%;
      color: #fff;
      font-size: 17px;
      font-weight: 300;
      margin: 40px 0;
      vertical-align: middle; }
      header > .row > .nav > .nav-inner {
        position: relative;
        display: inline-block; }
        header > .row > .nav > .nav-inner .element {
          text-transform: uppercase;
          display: block;
          float: left;
          padding: 15px; }
          header > .row > .nav > .nav-inner .element.active {
            background-color: #be0f23; }
          header > .row > .nav > .nav-inner .element.blue {
            background-color: #3b5691; }
          header > .row > .nav > .nav-inner .element > .facebook-wrapper {
            position: relative; }
            header > .row > .nav > .nav-inner .element > .facebook-wrapper > .fb {
              position: absolute;
              top: 0;
              left: 0; }
        header > .row > .nav > .nav-inner > .chat {
          position: absolute;
          top: -30px;
          left: 5px; }
