html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/main.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  body
    header
      .row.logo
        img.logo(src="/images/logo.png")
        .search-area
          .input-block
            input(type='text', placeholder='Recherche personnalisée')
            img.chat(src='/images/chat_searchbox.png')
          .icon-block
      .row.list-nav
        .nav
          .nav-inner
            img.chat(src='images/chat_searchbox.png')
            .element.active
              a(href="/") accueil
            .element
              a(href='/article') actualités
            .element
              a(href='/conseil') conseils
            .element
              a(href='#') chroniques
            .element
              a(href='#') races
            .element
              a(href='#') histoires
            .element
              a(href='#') vidéos
            .element
              a(href='#') contact
            .element
              a(href='#') newsletter
            .element.blue 
              a(href='#')
                img(src='/images/fb.png')

    section.une
      .block.block-70.main-picture
        img(src="/images/chat_big.png")
        img.caret.left(src="/images/caret-left.png")  
        img.caret.right(src="/images/caret-right.png")
        .img-legend
          h2 Exsistit autem hoc loco quaedam quaestio subdifficilis
      .block.block-30.small-section
        .block-title-area
          img(src="/images/puce.png")
          .block-title les dernières mises en ligne
        ul.short-post-list
          li.news-pict
            .picture 
              img(src="/images/news-picture-1.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-2.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-3.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam
          li.news-pict
            .picture 
              img(src="/images/news-picture-4.png")
            .text
              .row
                .title Conseils
                .date-block.right
                  .date-img
                    img(src="/images/clock.png")
                  .date 08 Nov 2014
              .row
                .legend Exsistit autem hoc loco quaedam

    section.slogan
      h1 Notre vocation : partager la passion des chats
      h3 Sans préoccupation mercantile. Les faire mieux connaître pour les aimer plus. Offrir à nos visiteurs tout ce qu'il convient de savoir pour les rendre plus heureux et mieux communiquer avec eux sans tomber dans l'anthropomorphisme. 

    section.last-news
      .block-title-area
        img(src="/images/puce.png")
        .block-title les dernières actualités
      .block.block-100.picture-grid
        .row
          .post
            .img-area
              img(src="/images/last-news-pic-1.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-2.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-3.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
        .row
          .post
            .img-area
              img(src="/images/last-news-pic-4.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-5.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-6.png")
              .date-block
                .date-img
                  img(src="/images/clock.png")
                .date 08 Nov 2014
            .text-area
              h3 En Angleterre, un chat autorisé à rester en maison de retraite !
              p Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in 
              a(href='#') Lire la suite
    
    section.actus
      .more
        img(src="/images/more.png")
        h2 d'actualités

    section.last-news
      .block.block-100.picture-grid
        .row
          .post
            .img-area
              img(src="/images/last-news-pic-7.png")
              .title-label
                img(src="/images/puce.png")
                h2 conseils
              .legend Pour adopter un chat ou un chaton
            .text-area.border
              p Vous envisagez d'adopter un chat ? Par nos conseils nous allons vous y aider...
            ul.short-post-list
              li.news-simple
                .picture
                  img(src="/images/list-picture-1.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-2.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-3.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-4.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
            .more.add-margin-top
              img(src="/images/more.png")
              h2 de conseils
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-8.png")
              .title-label
                img(src="/images/puce.png")
                h2 races
              .legend Le chat Bombay
            .text-area.border
              p Contrairement à ce que son nom semblerait indiquer le Bombay nee provient pas d’Inde mais des Etats-Unis. ...
            ul.short-post-list
              li.news-simple
                .picture
                  img(src="/images/list-picture-1.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-2.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-3.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-4.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
            .more.add-margin-top
              img(src="/images/more.png")
              h2 de races
          .post.add-margin-left
            .img-area
              img(src="/images/last-news-pic-9.png")
              .title-label
                img(src="/images/puce.png")
                h2 chroniques
              .legend Karl Lagefeld dingue d'une femelle
            .text-area.border
              p A force de les faire valser sur les podiums, à force de jouer le solitaire dopé au génie artistique et de façon ..
            ul.short-post-list
              li.news-simple
                .picture
                  img(src="/images/list-picture-1.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-2.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-3.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
              li.news-simple
                .picture
                  img(src="/images/list-picture-4.png")
                .text
                  h6 L'éduquer et le comprendre
                  p Illud tamen te ese admonitum volo...
            .more.add-margin-top
              img(src="/images/more.png")
              h2 de chroniques
    section.videos
      .block.block-65.picture-grid
        .block-title-area
          img(src="/images/puce.png")
          .block-title videos
        .row
          .post
            .img-area.small
              img(src="/images/video-1.png")
              .legend sésame ouvre toi
          .post.add-margin-left-small
            .img-area.small
              img(src="/images/video-2.png")
              .legend sésame ouvre toi
          .post.add-margin-left-small
            .img-area.small
              img(src="/images/video-3.png")
              .legend sésame ouvre toi
        .row.small-margin-bottom
          .post
            .img-area.small
              img(src="/images/video-1.png")
              .legend sésame ouvre toi
          .post.add-margin-left-small
            .img-area.small
              img(src="/images/video-2.png")
              .legend sésame ouvre toi
          .post.add-margin-left-small
            .img-area.small
              img(src="/images/video-3.png")
              .legend sésame ouvre toi
          .more
            img(src="/images/more.png")
            h2 de videos

      .block.block-30.right
        .block-title-area
          img(src="/images/puce.png")
          .block-title les chats dans l'histoire
        ul.short-post-list
          li.news-simple
            .picture
              img(src="/images/news-picture-1.png")
            .text
              h6.only Exsistit autem hoc loco quaedam
          li.news-simple
            .picture
              img(src="/images/news-picture-2.png")
            .text
              h6.only Exsistit autem hoc loco quaedam
          li.news-simple
            .picture
              img(src="/images/news-picture-3.png")
            .text
              h6.only Exsistit autem hoc loco quaedam
          li.news-simple
            .picture
              img(src="/images/news-picture-4.png")
            .text
              h6.only Exsistit autem hoc loco quaedam
          li.news-simple
            .picture
              img(src="/images/news-picture-4.png")
            .text
              h6.only Exsistit autem hoc loco quaedam
          li.news-simple
            .picture
              img(src="/images/news-picture-4.png")
            .text
              h6.only Exsistit autem hoc loco quaedam

    footer
      .black-area
        img.cat(src="/images/cat-big.png")
        .block-30
          img.logo(src="/images/footer-logo.png")
          p.margin Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse 
          h3 recevoir la newsletter de micetto
          .input-block
            input(type='text', placeholder='Adresse mail')
          .icon-block
            .text S'abonner
        .block-30
          .citation
            h3 citation
            p "Le véritable gentleman est celui qui appelle toujours un chat un chat. Même lorsqu'il trébuche dessus et qu'il tombe. "
            .author Marcel Achard 
            a.infos(href="#") Plus de citations
          .citation
            h3 citation
            p "Le véritable gentleman est celui qui appelle toujours un chat un chat. Même lorsqu'il trébuche dessus et qu'il tombe. "
            .author Marcel Achard 
          a.infos(href="#") Plus de citations
        .block-30.center
          h3 retrouvez nous sur facebook
          img.fb(src="/images/fb_pictures.png")
      .red-area
        .block-90
          ul
            li
              a(href="#") 2014
            li
              a(href="#") Micetto.com
            li
              a(href="#") A propos
            li
              a(href="#") Qui sommes nous
            li
              a(href="#") Nos partenaires
            li
              a(href="#") Newsletter















