html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="main.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  body
    header
      .row.logo
        img.logo(src="images/logo.png")
        .search-area
          .input-block
            input(type='text', placeholder='Recherche personnalisée')
            img.chat(src='images/chat_searchbox.png')
          .icon-block
      .row.list-nav
        .nav
          .nav-inner
            img.chat(src='images/chat_searchbox.png')
            .element.active accueil
            .element
              a(href='#') actualités
            .element
              a(href='#') conseils
            .element
              a(href='#') chroniques
            .element
              a(href='#') races
            .element
              a(href='#') histoires
            .element
              a(href='#') vidéos
            .element
              a(href='#') contact
            .element
              a(href='#') newsletter
            .element.blue 
              a(href='#')
                img(src='images/fb.png')

    section.une
      .block.block-65
        img(src="images/chat_big.png")
      .block.block-30
        .block-title-area
          img(src="images/puce.png")
          .block-title les dernières mises en ligne
        .news
          .picture 
            img(src="images/news-picture-1.png")
          .text
            .row
              .title Conseils
              .date-block
                .date-img
                  img(src="images/clock.png")
                .date 08 Nov 2014
            .row
              .legend Exsistit autem hoc loco quaedam
        .news
          .picture 
            img(src="images/news-picture-2.png")
          .text
            .row
              .title Conseils
              .date-block
                .date-img
                  img(src="images/clock.png")
                .date 08 Nov 2014
            .row
              .legend Exsistit autem hoc loco quaedam
        .news
          .picture 
            img(src="images/news-picture-3.png")
          .text
            .row
              .title Conseils
              .date-block
                .date-img
                  img(src="images/clock.png")
                .date 08 Nov 2014
            .row
              .legend Exsistit autem hoc loco quaedam
        .news
          .picture 
            img(src="images/news-picture-4.png")
          .text
            .row
              .title Conseils
              .date-block
                .date-img
                  img(src="images/clock.png")
                .date 08 Nov 2014
            .row
              .legend Exsistit autem hoc loco quaedam
















